h1 {
    text-align: center;
    font-size: 26px;
    color: darkblue;
}

#rarity {
    width: 35px;
    height: 35px; 
    position: absolute;
    background-image: url("Photos/rarityWalking.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-duration: 100ms;
}


main {
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-image: url("Photos/flooring.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.mazeRow {
    display: flex;
    flex-direction: row;
}
.borderWall {
    height: 35px;
    width: 35px;
    background-color: rgb(164, 141, 185);
}

#start {
    height: 35px;
    width: 35px;
}

.blankSpace {
    height: 35px;
    width: 35px;
}

.box {
    height: 35px;
    width: 35px;
    background-image: url("Photos/Derpy\ Box.png");
    background-size: 100% 100%;
}

.winLocations {
    height: 35px;
    width: 35px;
    background: red;
    opacity: .25;
    border-radius: 50%;
}